$welcomeBG: #ebd162;
$welcomeLink: #b5642e;
$usersBG: #84b2b1;
$usersLink: #fbe467;
$registerBG: #a2d0d5;
$registerLink: #8f5503;
$updateBG: #f4a439;
$updateLink: #008492;
$deleteBG: #ef4d3c;
$deleteLink: #fad991;
$mainSerif: 'Josefin Slab', serif;
$mainSansSerif: 'Josefin Sans', sans-serif;

* {
	box-sizing: border-box;
}

body {
	font-family: $mainSerif;
	text-align: center;

	&.welcome {
		background: $welcomeBG;
		color: #fff;
		a { color: $welcomeLink; }
	}
	&.users {
		background: $usersBG;
		color: #fff;
		a { color: $usersLink; }
	}
	&.register {
		background: $registerBG;
		color: #fff;
		a { color: $registerLink; }
	}
	&.update {
		background: $updateBG;
		color: #fff;
		a { color: $updateLink; }
	}
	&.delete {
		background: $deleteBG;
		color: #fff;
		a { color: $deleteLink; }
	}
}

h1 { font-weight: lighter; }
h1.users {
	font-weight: 700;
}

a {
	font-size: 1.4em;
	font-family: $mainSansSerif;
}

span.username {
	font-weight: 700;
}

.filename {
	font-family: $mainSansSerif;
	font-weight: bold;
	color: #000;
}

ul {
	padding: 0;
	margin: 0 auto;
	list-style-type: none;

	li {
		display: block;
		text-align: center;
		list-style-type: none;
	}
}

ul.users {
	margin-bottom: 20px;
}

.block-btn {
	display: block;
	text-decoration: none;
}

a.back-btn {
	margin-top: 20px;
	text-decoration: none;
	transition: color .2s ease-out;

	&:hover {
		color: #fff;
	}
}

.create-form {
	display: block;
	clear: both;
	width: 20%;
	margin-left: 40%;
	float: left;
	border: 1px solid black;
}
.label {
	display: block;
}