body {
  font-family: 'Josefin Slab', serif;
  text-align: center; }
  body.welcome {
    background: #ebd162;
    color: #fff; }
  body.users {
    background: #84b2b1;
    color: #fff; }
  body.create {
    background: #a2d0d5;
    color: #fff; }
  body.update {
    background: #f4a439;
    color: #fff; }
  body.delete {
    background: #ef4d3c;
    color: #fff; }

ul.options {
  padding: 0;
  margin: 0 auto; }
  ul.options li {
    display: block;
    text-align: center; }
