* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  float: left; }

body {
  font-family: "Josefin Slab", serif;
  text-align: center; }
  body.welcome {
    background: #ebd162;
    color: #fff; }
    body.welcome a {
      color: #b5642e; }
  body.users {
    background: #84b2b1;
    color: #fff; }
    body.users a {
      color: #fbe467; }
  body.register {
    background: #a2d0d5;
    color: #fff; }
    body.register a {
      color: #8f5503; }
  body.update {
    background: #f4a439;
    color: #fff; }
    body.update a {
      color: #008492; }
  body.delete {
    background: #ef4d3c;
    color: #fff; }
    body.delete a {
      color: #fad991; }

h1 {
  font-weight: lighter; }

h1.users {
  font-weight: 700; }

a {
  font-size: 1.4em;
  font-family: "Josefin Sans", sans-serif; }

span.username {
  font-weight: 700; }

.filename {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #000; }

ul {
  padding: 0;
  margin: 0 auto;
  list-style-type: none; }
  ul li {
    display: block;
    text-align: center;
    list-style-type: none; }

ul.users {
  margin-bottom: 20px; }

.block-btn {
  display: block;
  text-decoration: none; }

a.back-btn {
  margin-top: 20px;
  text-decoration: none;
  transition: color .2s ease-out; }
  a.back-btn:hover {
    color: #fff; }

.create-form {
  display: block;
  clear: both;
  width: 20%;
  margin-left: 40%;
  float: left;
  border: 1px solid black; }

.label {
  display: block; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

div.home-form-container {
  width: 240px;
  padding: 16px;
  margin: 60px auto;
  background: #ebd162;
  position: relative;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000; }
  div.home-form-container .login-form,
  div.home-form-container .register-form {
    display: none; }
    div.home-form-container .login-form.is-active,
    div.home-form-container .register-form.is-active {
      display: block; }
  div.home-form-container h2 {
    background: #94843f;
    padding: 10px;
    height: 40px;
    position: absolute;
    top: -40px;
    margin: 0;
    font-size: 20px;
    width: calc(50% - 3px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000; }
    div.home-form-container h2.is-active {
      background: #ebd162; }
    div.home-form-container h2.login-label {
      left: -1px; }
    div.home-form-container h2.register-label {
      right: -1px; }

div.login-form-container {
  width: 230px;
  height: auto;
  margin: 40px auto;
  background: skyblue;
  padding: 15px; }
  div.login-form-container h2 {
    margin: 0 0 12px; }
  div.login-form-container .login-btn {
    width: 80px;
    margin-top: 0px;
    float: right;
    margin-bottom: 0; }

.login-form {
  width: 100%;
  margin: 0 auto; }

.comment-form-container {
  width: 100%; }

label,
input {
  display: block; }

label {
  margin-bottom: 3px;
  text-align: left; }

input {
  margin: 0 auto 12px;
  border: none;
  box-shadow: none;
  height: 32px;
  width: 100%;
  padding: 7px; }

body.comments {
  background: black; }
  body.comments h1,
  body.comments h2 {
    color: white; }

.wrapper-box,
.form-wrapper {
  padding: 3px;
  border: 1px solid white;
  width: 50%;
  margin-left: 25%;
  float: left;
  background: black;
  margin-bottom: 20px; }

.comments-container,
.form-wrapper form {
  width: 100%;
  margin-left: 0;
  float: left;
  border: 1px solid white;
  padding: 10px;
  /*margin-bottom: 20px;*/ }

.comment-block {
  width: 100%;
  margin-left: 0;
  float: left;
  padding: 0;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: 0;
  text-align: left; }
  .comment-block:first-child {
    border-top: 1px solid white; }
  .comment-block .username-container {
    width: 100%;
    padding: 10px 15px;
    background: #bbb;
    border-bottom: 1px solid white; }
  .comment-block .comment-container {
    background: gray;
    color: white;
    width: 100%;
    padding: 10px 15px; }
  .comment-block .comment,
  .comment-block .username {
    font-size: 17px; }
  .comment-block .comment {
    font-family: "Josefin Sans", sans-serif;
    margin: 0 0 20px; }
  .comment-block p.post-time,
  .comment-block a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    text-align: right;
    color: #ddd;
    display: block; }
  .comment-block p {
    margin: 0; }

@media screen and (max-width: 768px) {
  .wrapper-box {
    width: 90%;
    margin-left: 5%; } }
.form-wrapper {
  padding-top: 20px; }

.form-wrapper textarea {
  height: 90px;
  clear: both;
  width: 70%;
  margin-left: 15%;
  float: left;
  margin-bottom: 10px; }

.form-wrapper button {
  display: block;
  margin: 10px auto;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #000;
  background: gray;
  border: 2px solid white;
  padding: 7px 10px 5px; }

.comments h2 {
  clear: both; }
.comments ul.options {
  clear: both;
  margin-bottom: 30px; }
  .comments ul.options a {
    color: #ddd; }
