* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  float: left; }

body {
  font-family: "Josefin Slab", serif;
  text-align: center; }
  body.welcome {
    background: #ebd162;
    color: #fff; }
    body.welcome a {
      color: #b5642e; }
  body.users {
    background: #84b2b1;
    color: #fff; }
    body.users a {
      color: #fbe467; }
  body.register {
    background: #a2d0d5;
    color: #fff; }
    body.register a {
      color: #8f5503; }
  body.update {
    background: #f4a439;
    color: #fff; }
    body.update a {
      color: #008492; }
  body.delete {
    background: #ef4d3c;
    color: #fff; }
    body.delete a {
      color: #fad991; }

h1 {
  font-weight: lighter; }

h1.users {
  font-weight: 700; }

a {
  font-size: 1.4em;
  font-family: "Josefin Sans", sans-serif; }

span.username {
  font-weight: 700; }

.filename {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #000; }

ul {
  padding: 0;
  margin: 0 auto;
  list-style-type: none; }
  ul li {
    display: block;
    text-align: center;
    list-style-type: none; }

ul.users {
  /*margin-bottom: 20px;*/ }
  ul.users li {
    font-weight: bold; }

.block-btn {
  display: block;
  text-decoration: none; }

a.back-btn {
  margin-top: 20px;
  text-decoration: none;
  transition: color .2s ease-out; }
  a.back-btn:hover {
    color: #fff; }

a.outside-link {
  display: block;
  clear: both;
  margin-bottom: 50px;
  color: white;
  font-weight: bold;
  text-decoration: none; }

.create-form {
  display: block;
  clear: both;
  width: 20%;
  margin-left: 40%;
  float: left;
  border: 1px solid black; }

label {
  display: block; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

div.home-form-container {
  width: 240px;
  padding: 16px;
  margin: 60px auto;
  /*background: $welcomeBG;*/
  position: relative;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000; }
  div.home-form-container.login-tab .login-form {
    display: block; }
  div.home-form-container.login-tab .register-form {
    display: none; }
  div.home-form-container.login-tab,
  div.home-form-container.login-tab .login-label {
    background: #ebd162; }
  div.home-form-container.login-tab label {
    color: #b5642e; }
  div.home-form-container.login-tab input[type=submit] {
    background: #94843f;
    color: white; }
    div.home-form-container.login-tab input[type=submit]:hover {
      background: white;
      color: #94843f; }
  div.home-form-container.register-tab .register-form {
    display: block; }
  div.home-form-container.register-tab .login-form {
    display: none; }
  div.home-form-container.register-tab,
  div.home-form-container.register-tab .register-label {
    background: #a2d0d5; }
  div.home-form-container.register-tab label {
    color: #8f5503; }
  div.home-form-container.register-tab input[type=submit] {
    background: #6f8e91;
    color: white;
    border: 1px solid black;
    /*border-radius: 5px;*/
    /*font-weight: bold;*/ }
    div.home-form-container.register-tab input[type=submit]:hover {
      background: white;
      color: #6f8e91; }
  div.home-form-container h2 {
    padding: 10px;
    height: 40px;
    position: absolute;
    top: -40px;
    margin: 0;
    font-size: 20px;
    width: calc(50% - 3px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    cursor: pointer; }
    div.home-form-container h2.is-active {
      color: black; }
      div.home-form-container h2.is-active .login-label {
        background: #ebd162; }
      div.home-form-container h2.is-active .register-label {
        background: #a2d0d5; }
    div.home-form-container h2.login-label {
      left: -1px;
      background: #94843f; }
    div.home-form-container h2.register-label {
      right: -1px;
      background: #6f8e91; }
  div.home-form-container input[type=submit] {
    margin-top: 12px;
    width: 120px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    margin-bottom: 0;
    border: 1px solid black; }
  div.home-form-container label {
    font-weight: bold;
    font-size: 17px;
    display: none; }

.container {
  width: 240px;
  padding: 16px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0 auto; }
  .container h2 {
    margin: 0 0 12px; }

.update-form-container {
  background: #f4a439;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; }

.update-btn {
  width: 110px;
  background: #b3782a;
  color: white; }

div.login-form-container {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #ebd162;
  width: 230px;
  height: auto;
  margin: 40px auto;
  padding: 15px; }
  div.login-form-container h2 {
    margin: 0 0 12px; }
  div.login-form-container .login-btn {
    width: 80px;
    margin-top: 0px;
    float: right;
    margin-bottom: 0; }

.login-form {
  width: 100%;
  margin: 0 auto; }

.comment-form-container {
  width: 100%;
  clear: both;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 12px; }

.comment-form {
  width: 80%;
  margin-left: 10%; }
  .comment-form label,
  .comment-form p {
    color: white; }
  .comment-form label {
    font-size: 18px;
    margin: 0 0 11px; }
  .comment-form textarea {
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 13px;
    border: none;
    box-shadow: none; }
  .comment-form p {
    margin: 2px 0 9px; }
  .comment-form input[type=submit] {
    width: auto;
    height: auto;
    border: 1px solid white;
    background: #555;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    padding: 9px 10px;
    cursor: pointer;
    /*font-weight: bold;*/
    transition: color .2s ease-out, background .2s ease-out, border .2s ease-out; }
    .comment-form input[type=submit]:hover {
      background: #fff;
      color: black;
      border-color: gray; }

.register-form-container {
  background: #a2d0d5;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; }
  .register-form-container input[type=submit] {
    width: 110px;
    background: #6f8e91;
    color: white;
    border: 1px solid black;
    /*border-radius: 7px;*/ }
  .register-form-container h2 {
    color: #8f5503; }

.users-container {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #84b2b1;
  height: auto; }
  .users-container li {
    margin-bottom: 6px; }
  .users-container a {
    color: #fbe467;
    font-size: 24px;
    text-decoration: none; }

.update-comment-container {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 300px;
  background: #84b2b1; }
  .update-comment-container textarea {
    width: 100%;
    padding: 7px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 10px; }
  .update-comment-container p {
    margin: 7px 0 12px;
    color: white;
    font-weight: bold;
    font-family: "Josefin Slab", serif !important; }
  .update-comment-container h4 {
    margin: 0;
    font-size: 22px; }
  .update-comment-container input[type=submit] {
    width: 120px;
    background: #597777;
    color: white;
    border-color: black; }

/*.register-tab {
	input {
		border-radius: 0;
	}
}*/
label,
input {
  display: block;
  border-radius: 6px; }

label {
  margin-bottom: 3px;
  text-align: left;
  display: none; }

input {
  margin: 0 auto 12px;
  border: 1px solid #777;
  box-shadow: none;
  height: 32px;
  width: 100%;
  padding: 7px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px; }

body.comments {
  background: black; }
  body.comments h1,
  body.comments h2 {
    color: white; }

.wrapper-box,
.form-wrapper {
  padding: 3px;
  border: 1px solid white;
  width: 50%;
  margin-left: 25%;
  float: left;
  background: black;
  margin-bottom: 20px; }

.comments-container,
.form-wrapper form {
  width: 100%;
  margin-left: 0;
  float: left;
  border: 1px solid white;
  padding: 10px;
  /*margin-bottom: 20px;*/ }

.comment-block {
  width: 100%;
  margin-left: 0;
  float: left;
  padding: 0;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: 0;
  text-align: left; }
  .comment-block:first-child {
    border-top: 1px solid white; }
  .comment-block .username-container {
    width: 100%;
    padding: 10px 15px;
    background: #bbb;
    border-bottom: 1px solid white; }
  .comment-block .comment-container {
    background: gray;
    color: white;
    width: 100%;
    padding: 10px 15px; }
  .comment-block .comment,
  .comment-block .username {
    font-size: 17px; }
  .comment-block .comment {
    font-family: "Josefin Sans", sans-serif;
    margin: 0 0 20px; }
  .comment-block p.post-time,
  .comment-block a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    text-align: right;
    color: #ddd;
    display: block; }
  .comment-block p {
    margin: 0; }

@media screen and (max-width: 768px) {
  .wrapper-box {
    width: 90%;
    margin-left: 5%; } }
.form-wrapper {
  padding-top: 20px; }

.form-wrapper textarea {
  height: 90px;
  clear: both;
  width: 70%;
  margin-left: 15%;
  float: left;
  margin-bottom: 10px; }

.form-wrapper button {
  display: block;
  margin: 10px auto;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #000;
  background: gray;
  border: 2px solid white;
  padding: 7px 10px 5px; }

.comments h2 {
  clear: both; }
.comments ul.options {
  clear: both;
  margin-bottom: 30px; }
  .comments ul.options a {
    color: #ddd; }

header {
  height: 70px;
  background: black;
  margin: 0;
  position: relative; }
  header h2 {
    margin: 15px 0 0 15px;
    float: left;
    color: #ccc; }
  header .options {
    padding: 0;
    float: right;
    margin-right: 15px;
    position: absolute;
    bottom: 10px;
    right: 0; }
  header ul.options li {
    display: inline;
    width: auto;
    margin: 0 7px; }
    header ul.options li a {
      width: auto;
      display: inline;
      text-decoration: none;
      font-size: 20px;
      color: #ebd162;
      transition: color .2s ease-out; }
      header ul.options li a:hover {
        color: white; }
